.dashboard-nav {
  display: none;

  &.open {
    display: block;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      border-radius: 0.25rem;
      cursor: pointer;
      padding: 0.25rem 0.5rem;
      transition: background-color 200ms ease-out;

      &:hover,
      &:focus-within {
        background-color: var(--clr-neutral-90);
      }

      a {
        color: var(--clr-neutral-20);
        display: inline-block;
        text-decoration: none;
        width: 100%;

        &:focus-visible {
          outline: none;
        }
      }
    }
  }
}

.header + .dashboard-nav {
  position: fixed;
  inset: var(--header-height) 0 0 0;

  background-color: var(--clr-neutral-100);
  margin-inline: var(--_body-padding-inline);
  padding: var(--_body-column-gap);

  &.open li {
    overflow: clip;
    a {
      animation: slideIn 500ms ease forwards;
    }
  }
}

@media (min-width: 1200px) {
  .dashboard-nav {
    display: block;
  }

  .header + .dashboard-nav {
    display: none;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0.8;
    transform: translateY(50%);
  }

  100% {
    opacity: 1;
    transform: translateY();
  }
}

/* Language selector styles */
.language-selector-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.language-label {
  margin-right: 10px;
}

.dropdown-wrapper {
  position: relative;
  width: 100%;
}

.language-dropdown-button {
  width: 100%;
  background: none;
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 6px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
}

.dropdown-arrow {
}

.language-dropdown-menu {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 16px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 0 0 5px 0;
  z-index: 10;
}

.language-dropdown-menu li {
  margin: 0;
}

.language-dropdown-menu button {
  width: 100%;
  background: none;
  border: none;
  padding: 8px 12px;
  text-align: left;
  cursor: pointer;
}

.language-dropdown-menu button:hover {
  background-color: var(--clr-neutral-90);
}

@media (min-width: 768px) and (max-width: 1200px) {
  .dropdown-wrapper {
    width: 50%;
  }
  .language-dropdown-button {
    width: 50%;
  }

  .language-dropdown-menu {
    width: 50%;
  }
}
