.dashboard-nav {
  .user {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      background-color: var(--clr-neutral-90);
      padding: 0.5rem;
      border-radius: 50%;
      aspect-ratio: 1;
    }
  }

  hr {
    margin-block: 1rem;
  }

  nav {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%; */
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding-block: 0.25rem;
      transition: background-color 200ms ease-out;

      &:hover,
      &:focus-within {
        background-color: var(--clr-neutral-90);
      }

      a {
        display: inline-block;
        text-decoration: none;
        width: 100%;
        transition: color 200ms ease-out;
      }
    }
  }
}
