.card {
  background-color: var(--clr-neutral-99);
  border-radius: 0.5rem;
  padding: 1rem;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 1rem;

    h2 {
      margin-block: 0;
    }
  }

  main {
    display: grid;
    gap: 0.5rem;

    .card-information-row {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    h3,
    p {
      margin: 0;
    }
  }

  footer {
    display: grid;

    p {
      justify-self: center;

      background-color: var(--clr-attention-40);
      border-radius: 0.5rem;
      max-width: 60ch;
      padding: 1rem;
    }

    button {
      justify-self: end;
    }
  }

  &.small main {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.125rem 0.25rem;

    .card-information-row {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: subgrid;
    }
  }
}
