.header {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  /* border: 1px solid red; */
  align-items: center;
  /* justify-content: space-between; */

  background-color: var(--clr-neutral-100);
  height: var(--header-height);

  &:has(+ .dashboard-nav.open) {
    position: fixed;
    inset: 0 calc(var(--_body-padding-inline) + var(--_body-column-gap)) auto
      calc(var(--_body-padding-inline) + var(--_body-column-gap));
    z-index: 99;
  }

  .user__name {
    display: none;
  }
}

@media (min-width: 1200px) {
  .header {
    .logo {
      order: 0;
      display: inline-block;
    }

    .user-wrapper {
      order: 1;

      .user__name {
        display: inline-block;
      }
    }

    .mobile-menu-btn {
      display: none;
    }
  }
}

@media (max-width: 1200px) {
  .header {
    grid-template-columns: repeat(3, 1fr);
  }
  .logo {
    text-align: center;
  }
}
