.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: var(--header-height);

  .user__name {
    display: none;
  }
}

@media (min-width: 1200px) {
  .header {
    .logo {
      order: 0;
      display: inline-block;
    }

    .user {
      order: 1;

      .user__name {
        display: inline-block;
      }
    }

    .mobile-menu-btn {
      display: none;
    }
  }
}
