.header {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  /* border: 1px solid red; */
  align-items: center;
  /* justify-content: space-between; */

  height: var(--header-height);

  .user__name {
    display: none;
  }
}

@media (min-width: 1200px) {
  .header {
    .logo {
      order: 0;
      display: inline-block;
    }

    .user-wrapper {
      order: 1;

      .user__name {
        display: inline-block;
      }
    }

    .mobile-menu-btn {
      display: none;
    }
  }
}

@media (max-width: 1200px) {
  .header {
    grid-template-columns: repeat(3, 1fr);
  }
  .logo {
    text-align: center;
  }
}
