.mobile-menu-btn {
  --_hamburger-size: 2.5rem;
  --_hamburger-distance: 0.25rem;
  --_half-hamburger-distance-down: calc(var(--_hamburger-distance) / 2 + 50%);
  --_half-hamburger-distance-up: calc(
    (var(--_hamburger-distance) / 2 + 50%) * (-1)
  );

  display: grid;
  gap: var(--_hamburger-distance);
  justify-self: end;

  background-color: transparent;
  border: none;
  padding: 0;
  width: var(--_hamburger-size);
  aspect-ratio: 1;

  div {
    background-color: var(--clr-neutral-20);
    border-radius: 5px;
    height: 2px;
    width: 100%;

    &:first-of-type {
      align-self: end;
    }
  }

  &.open {
    div:first-of-type {
      animation: topBarOpen 300ms ease forwards;
    }

    div:last-of-type {
      animation: bottomBarOpen 300ms ease forwards;
    }
  }

  &:not(.open) {
    div:first-of-type {
      animation: topBarClose 300ms ease forwards;
    }

    div:last-of-type {
      animation: bottomBarClose 300ms ease forwards;
    }
  }
}

@keyframes topBarOpen {
  0% {
    transform: translateY(0) rotateZ(0);
  }
  50% {
    transform: translateY(var(--_half-hamburger-distance-down)) rotateZ(0);
  }
  100% {
    transform: translateY(var(--_half-hamburger-distance-down)) rotateZ(-45deg);
  }
}

@keyframes bottomBarOpen {
  0% {
    transform: translateY(0) rotateZ(0);
  }
  50% {
    transform: translateY(var(--_half-hamburger-distance-up)) rotateZ(0);
  }
  100% {
    transform: translateY(var(--_half-hamburger-distance-up)) rotateZ(45deg);
  }
}

@keyframes topBarClose {
  0% {
    transform: translateY(var(--_half-hamburger-distance-down)) rotateZ(-45deg);
  }
  50% {
    transform: translateY(var(--_half-hamburger-distance-down)) rotateZ(0);
  }
  100% {
    transform: translateY(0) rotateZ(0);
  }
}

@keyframes bottomBarClose {
  0% {
    transform: translateY(var(--_half-hamburger-distance-up)) rotateZ(45deg);
  }
  50% {
    transform: translateY(var(--_half-hamburger-distance-up)) rotateZ(0);
  }
  100% {
    transform: translateY(0) rotateZ(0);
  }
}
